### 1. Create a result table which contain student id, student name and 5 subject marks.

In [1]:
import sqlite3

In [3]:
con=sqlite3.connect('D://22bca197//result_database2.db')

In [4]:

cur=con.cursor()

In [5]:
create_table='''create table if not exists result_tbl
              (
                  Student_id int Primary key,
                  Student_name text NOT NULL,
                  subject1_marks int,
                  subject2_marks int,
                  subject3_marks int,
                  subject4_marks int,
                  subject5_marks int)'''

In [7]:
cur.execute(create_table)

### 2. Enter 10 studnet details with its marks.

In [8]:
insert_record='''insert into result_tbl values(1,'om',67,78,77,88,56),
                                              (2,'Sai',75,77,65,87,66),
                                              (3,'Ram ',67,78,77,88,56),
                                              (4,'Radha',49,35,45,58,60),
                                              (5,'Shiv ',55,40,67,68,56),
                                              (6,'Shivam',92,93,96,88,85),
                                              (7,'Krisha',29,35,43,40,51),
                                              (8,'Karan',70,65,55,62,56),
                                              (9,'mahira',87,85,77,70,88),
                                              (10,'janvi',89,98,87,88,86)'''

In [9]:
cur.execute(insert_record)

In [10]:
records='select * from result_tbl'
cur.execute(records)
data=cur.fetchall()

### 3. Dump table into csv file "result.csv".

In [11]:
import csv

In [12]:
with open('D://22bca197//result.csv', 'w+', newline='') as file:
    fileobj = csv.writer(file)
    head = ['Student_ID', 'Student_Name', 'Subject1_Marks', 'Subject2_Marks', 'Subject3_Marks', 'Subject4_Marks', 'Subject5_Marks']
    fileobj.writerow(head)
    fileobj.writerows(data)

### 4. Read result.csv file and Print Total Marks and Grade of each student. Also Append Total Marks and Grade column into result.csv file.

In [24]:
with open('D://22bca197//result.csv', 'r', newline='') as file, open('D://22bca197//mainresult2.csv', 'w+', newline='') as file2:
    a=csv.reader(file)
    fileobj=csv.writer(file2)
    head=next(a)
    head.extend(['Total_Marks','Percentage','Grade'])
    fileobj.writerow(head)
    for i in a:
        totalmarks=int(i[2])+int(i[3])+int(i[4])+int(i[5])+int(i[6])
        i.append(totalmarks)
        percentage=i[7]/500*100
        if percentage >= 90:
            grade = 'A+'
        elif percentage >= 80:
            grade = 'A'
        elif percentage >= 70:
            grade = 'B'
        elif percentage >=55 and percentage < 70:
            grade = 'C'
        elif percentage >=30 and percentage < 55 :
            grade = 'D'
        else:
            grade = 'Fail'
        i.extend([percentage,grade])
        fileobj.writerow(i)
    file2.seek(0)
    
    allrecords = file2.readlines()
    for record in allrecords: 
            print(record)

Student_ID,Student_Name,Subject1_Marks,Subject2_Marks,Subject3_Marks,Subject4_Marks,Subject5_Marks,Total_Marks,Percentage,Grade

1,om,67,78,77,88,56,366,73.2,B

2,Sai,75,77,65,87,66,370,74.0,B

3,Ram ,67,78,77,88,56,366,73.2,B

4,Radha,49,35,45,58,60,247,49.4,D

5,Shiv ,55,40,67,68,56,286,57.199999999999996,C

6,Shivam,92,93,96,88,85,454,90.8,A+

7,Krisha,29,35,43,40,51,198,39.6,D

8,Karan,70,65,55,62,56,308,61.6,C

9,mahira,87,85,77,70,88,407,81.39999999999999,A

10,janvi,89,98,87,88,86,448,89.60000000000001,A

### 5. List out Top 3 Student id and name with its percentage.

In [25]:
with open('D://22bca197//mainresult2.csv', 'r', newline='') as file2:
    head = next(file2)
    header = "{:^12} {:^20} {:^15}\n-----------------------------------------------------".format('Student_ID', 'Student_Name', 'Percentage')
    print(header)
    d = csv.reader(file2)
    d = sorted(d, key=lambda stud: stud[8], reverse=True)
    c=0

    for i in d:
        record_line = "{:^12} {:^20} {:^15} ".format(i[0], i[1], i[8])
        print(record_line)
        c+=1
        if c==3:
            break

 Student_ID      Student_Name       Percentage
-----------------------------------------------------
     6              Shivam             90.8
     10             janvi         89.60000000000001
     9              mahira        81.39999999999999